*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // this defines what 1 rem is.
}

body {
  background-color: $color-white;
  width: 64rem;
  overflow-x: hidden;
}
