body {
  font-family: "Source Sans Pro", "Arial", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: $size-big;
  color: #383838;
}

#error-message {
  color: rgba(224, 38, 38, 0.9);
  display: block;
  font-size: 65%;
}
