body {
  color: rgb(51, 51, 51);
}

section.section-main {
  background: rgb(245, 245, 245);
}

.cc-search-logo svg {
  height: 40px;
}

.extension-detail {
  width: 50%;
}

.extension-store-links {
  display: flex;
}

.extension-store-links a {
  margin-right: 1rem;
}

.feature {
  padding: 2rem;
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  justify-items: center;
}

.feature-desc-wrapper {
  padding: 2rem;
  display: flex;
  flex-direction: column;

  justify-content: center;
}

hr {
  width: 60%;
  margin: auto;
}

.feature-table {
  margin: auto;
}

@media all and (max-width: 736px) {
  .extension-store-links {
    height: 20rem;

    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .extension-store-links a {
    margin-right: 0;
    min-width: 12rem;
  }

  .extension-detail {
    width: 100%;
  }
}
