// brand
$color-tomato: #ed592f;
$color-gold: #efbe00;
$color-dark-turquoise: #05b5da;
$color-dark-slate-gray: #333333;

// Neutral
$color-dark-gray: #767676;
$color-gray: #b0b0b0;
$color-light-gray: #d8d8d8;
$color-lighter-gray: #f5f5f5;

// Binary
$color-white: #fff;
$color-black: #000;

// Feedback
$color-dark-success: rgb(4, 166, 53);
$color-dark-error: rgb(200, 59, 30);

// Spacing
$space-smaller: 0.25rem; // 4px
$space-small: 0.5rem; // 8px
$space-normal: 1rem; // 16px
$space-big: 1.5rem; // 24px
$space-bigger: 2rem; // 32px
$space-large: 2.5rem; // 40px
$space-larger: 3rem; // 48px
$space-xl: 4rem; // 64px
$space-xxl: 6rem; // 96px
