$color-primary-dark: #ee5b32;
$color-primary-light: #fb7928;

$color-secondary-light: #4374b7;
$color-secondary-dark: #214184;

$color-darkmode-1: #1e2227;
$color-darkmode-2: #373b41;

$color-white: #fff;
$color-black: #000;

$color-gray: #b0b0b0;
$color-lighter-gray: #f5f5f5;

$color-context-positive-dark: #01a635;

$color-context-negative: #d13814;

// Size
$size-small: 0.7937rem;
$size-normal: 1rem;
$size-big: 1.2599rem;
$size-large: 1.5874rem;
$size-huge: 2rem;
$size-enormous: 2.5198rem;
$size-gigantic: 3.1748rem;
