*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%; // this defines what 1 rem is.
  height: 31rem !important;
}

body {
  background-color: $color-white;
  width: 40rem;
  overflow-x: hidden;
  height: 31rem;
}

// for firefox: when the extension is in overflow menu.
// the horizontal width is capped at below the extension size.
@-moz-document url-prefix() {
  body {
    overflow-x: auto;
  }
}

a {
  text-decoration: none;
  color: rgb(234, 0, 255);
}
