.display-none {
  display: none !important;
}

.text-align-center {
  text-align: center;
}

.fixed-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 85px;
  background-color: #fff;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  button:last-child {
    margin: 0 $space-bigger 0 $space-big;
  }
}
