.display-none {
  display: none;
}

.text-align-center {
  text-align: center;
}

/* Popup box BEGIN */
.notification__popup {
  &--background {
    background: rgba(0, 0, 0, 0.4);
    display: none;
    height: 100%;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 10000;

    // display: flex;
    align-items: center;
    justify-content: center;
  }
  &--body {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 551px;
    min-height: 42px;
    width: 50%;
    // position: relative;
    border-radius: 3px;
    padding: 2px;
  }
}
