.display-none {
  display: none;
}

//  important to have more specificity than vocab defaults
.margin-bottom-small {
  margin-bottom: 7px !important;
}

.margin-bottom-medium {
  margin-bottom: 15px !important;
}

.margin-top-medium {
  margin-top: 15px !important;
}

.margin-right-small {
  margin-right: 7px !important;
}

.text-align-center {
  text-align: center;
}
