*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: $color-dark-slate-gray;
}

.tabs ul {
  margin-top: $space-normal;

  & li:first-child {
    margin-left: $space-small;
  }
}

.tabs-panel {
  padding: 0rem 21rem 1rem 1rem;
}

.notification__options {
  &--background {
    background: rgba(0, 0, 0, 0.4);
    display: none;
    height: 100%;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 10000;
  }
  &--body {
    font-size: 1.6rem;
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    width: 70%;
    border-radius: 3px;
    padding: 2px;
  }
}

.highlight {
  font-family: monospace;
  font-weight: 900;
  font-style: normal;
}

.display-none {
  display: none !important;
}
