*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: #383838;
}

h4 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1.7rem;
}

.header {
  padding: 2px;
}

ul {
  padding-left: 1.1rem;
}

.note {
  padding-left: 1rem;
  color: tomato;
}

.filter-checkboxes {
  margin-left: 1rem;
  input[type="checkbox"] {
    margin-bottom: 0.2rem;
  }
}

/* Utils */
.margin-bottom-medium {
  margin-bottom: 1rem !important;
}

.margin-bottom-small {
  margin-bottom: 0.5rem !important;
}

.margin-top-medium {
  margin-top: 1rem !important;
}

.margin-top-small {
  margin-top: 0.5rem !important;
}

.margin-top-smaller {
  margin-top: 0.25rem !important;
}

.padding-left-smaller {
  padding-left: 0.25rem !important;
}

//  Styles for "Export Bookmark"
.export-bookmark {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &-button{
    margin-right: 1rem;
  }
}

.export-specific-bookmark {
  margin: 0.2rem 0.5rem;
  border-style: solid;
  border-width: 1px;
  border-color: #b62b6e;
  padding: 0.2rem;
  text-align: center;

  img {
    width: 200px;
    height: 200px;
  }
  
  &__title {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
    white-space: nowrap;
    display: inline-block;

    &:hover {
      overflow: visible;
      width: 200px;
    }
  }
}

.export-bookmarks-button-container {
  display: flex;
  justify-content: space-between;
}

@import "../../popup/sass/abstract/variables";
@import "../../popup/sass/components/snackbar";
