.accordion{
  .accordion-link {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    cursor: pointer;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    padding: 1rem 3rem 1rem 1rem;
    color: $color-primary-light;
    font-size: 1.20rem;
    border-bottom: 1px solid #e5e5e5;
  }

  .accordion-link:hover,
  .accordion-link:hover::after {
    cursor: pointer;
    color: $color-primary-dark;
  }

  .accordion-link:hover::after {
    border: 1px solid $color-primary-dark;
  }

  .accordion-link.active {
    color: $color-primary-dark;
    border-bottom: 1px solid $color-primary-dark;
  }

  .accordion-link::after {
    content: '\f067'; // +
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    position: absolute;
    float: right;
    right: 1rem;
    font-size: 1rem;
    color: $color-primary-light;
    padding: 5px;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid $color-primary-light;
    text-align: center;
  }

  .accordion-link.active::after {
    content: '\f068'; // -
    font-family: FontAwesome;
    color: $color-primary-dark;
    border: 1px solid $color-primary-dark;
  }
  .content {
    opacity: 0;
    padding: 0 1rem;
    max-height: 0;
    border-bottom: 1px solid #e5e5e5;
    overflow: hidden;
    clear: both;
    -webkit-transition: all 0.3s ease 0.15s;
    -o-transition: all 0.3s ease 0.15s;
    transition: all 0.3s ease 0.15s;
  }

  .content p {
    font-size: 1rem;
  }

  .content.active {
    opacity: 1;
    padding: 1rem;
    max-height: 100%;
    -webkit-transition: all 0.35s ease 0.15s;
    -o-transition: all 0.35s ease 0.15s;
    transition: all 0.35s ease 0.15s;
  }
}
