.highlight-orange {
  font-weight: 900;
  font-style: normal;
  color: #ed592f;
}

.highlight-green {
  font-weight: 900;
  font-style: normal;
  color: #04a635;
}

.listitem {
  list-style: none;
  margin-bottom: 1rem;
}
