*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: #383838;
}

h4 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1.7rem;
}

.header {
  padding: 2px;
}

ul {
  padding-left: 1.1rem;
}

.note {
  padding-left: 1rem;
  color: tomato;
}

.filter-checkboxes {
  margin-left: 1rem;
}

/* Utils */
.margin-bottom-medium {
  margin-bottom: 1rem;
}

.margin-bottom-small {
  margin-bottom: 0.5rem;
}

.margin-top-medium {
  margin-top: 1rem;
}

.margin-top-small {
  margin-top: 0.5rem;
}

.margin-top-smaller {
  margin-top: 0.25rem;
}

/* snackbar */
.snackbar {
  visibility: hidden;
  min-width: 10rem;
  transform: translate(-50%);
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  font-size: 1.2rem;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 4rem;
}

.snackbar-positive {
  border-left: solid 10px green;
}

.snackbar-negative {
  border-left: solid 10px red;
}

.show {
  visibility: visible !important;

  animation: fadein 0.2s;
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 4rem;
    opacity: 1;
  }
}
