.margin-bottom-medium {
  margin-bottom: 1rem !important;
}

.margin-bottom-small {
  margin-bottom: 0.5rem !important;
}

.margin-top-medium {
  margin-top: 1rem !important;
}

.margin-top-small {
  margin-top: 0.5rem !important;
}

.margin-top-smaller {
  margin-top: 0.25rem !important;
}

.padding-left-smaller {
  padding-left: 0.25rem !important;
}

.margin-left-medium {
  margin-left: 1rem !important;
}