.comboTreeWrapper {
  position: relative;
  text-align: left !important;
}

.comboTreeInputWrapper {
  position: relative;
}

.comboTreeArrowBtn {
  position: absolute;
  right: 4px;
  bottom: 1px;
  top: 1px;
  cursor: pointer;
  background-color: transparent;
  box-sizing: border-box;
  border: none;
  /* border-left: 1px solid #c7c7c7; */
  /* border-radius: 0 3px 3px 0; */
}

.comboTreeDropDownContainer {
  display: none;
  background: #fff;
  border: 1px solid #aaa;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  z-index: 50;
  width: 100%;
  box-sizing: border-box;
  font-size: 1.5rem;
}

.comboTreeDropDownContainer ul {
  padding: 0px;
  margin: 0;
}

.comboTreeDropDownContainer li {
  list-style-type: none;
  /* padding-left: 15px; */
  cursor: pointer;
}

.comboTreeDropDownContainer li:hover {
  background-color: #ddd;
}
.comboTreeDropDownContainer li:hover ul {
  background-color: #fff;
}
.comboTreeDropDownContainer li span.comboTreeItemTitle.comboTreeItemHover {
  background-color: #0ab8fd;
  color: #fff;
}

span.comboTreeItemTitle {
  display: block;
  padding: 2px 4px;
}
.comboTreeDropDownContainer label {
  cursor: pointer;
  width: 100%;
  display: block;
}
.comboTreeDropDownContainer .comboTreeItemTitle input {
  position: relative;
  top: 2px;
  margin: 0px 4px 0px 0px;
}
.comboTreeParentPlus {
  position: relative;
  left: -12px;
  top: 4px;
  width: 4px;
  float: left;
}

.comboTreeInputBox {
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #999;
  width: 100%;
  box-sizing: border-box;
  padding-right: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  color: transparent;
  text-shadow: 0 0 0 #2196f3;
}

/* To show grey placeholder on firefox. using black because the color is lightened by default */
.comboTreeInputBox::placeholder {
  color: black;
}

.comboTreeArrowBtnImg {
  font-size: 10px;
}
