/* Variables */
:root {
  --primary-color-dark: #ff4e14;
  --primary-color-light: #ff7d31;

  --secondary-color-dark: #0ab8fd;
  --secondary-color-light: #3fc7fd;

  --color-white: #fff;
}

/* Style Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 300;
  font-size: 20px;
  background-color: var(--color-white);
  color: #555;
  width: 640px;
  overflow-x: hidden;
}

header {
  width: 100%;
  background-image: linear-gradient(to right, #ff4e14, #ff7d31);
}

header img {
  display: inline-block;
  padding: 5px 0;
  height: 50px;
  margin-left: 10%;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.section-search {
  margin-top: 4%;
  position: relative;
}

.section-search input[type="text"] {
  width: 100%;
  font-size: 130%;
  background: var(--color-white);
  padding: 2%;
  border: 1.2px solid var(--primary-color-light);
  transition: all 0.3s ease-in-out;
}

.section-search input[type="text"]:focus {
  box-shadow: 0 0 5px var(--primary-color-dark);
  border: 1.2px solid var(--primary-color-dark);
}

.section-search i {
  position: absolute;
  right: 3%;
  top: 50%;
  transform: translateY(-50%);
  color: var(--secondary-color-light);
  font-size: 170%;
}

.section-search i:hover {
  color: var(--secondary-color-dark);
  cursor: pointer;
}

#error-message {
  color: rgba(224, 38, 38, 0.9);
  display: block;
  font-size: 65%;
}

.section-content {
  padding-top: 10%;
}

.section-content p {
  min-height: 300px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.section-content p a {
  text-decoration: none;
  color: var(--secondary-color-light);
}

footer {
  height: 40px;
  background-color: #242424;
  text-align: center;
}

.footer-box {
  display: inline;
  margin: 0 20px;
}

.footer-box a {
  font-size: 70%;
  color: var(--color-white);
  text-decoration: none;
  text-transform: uppercase;
}

.footer-box img {
  width: 30px;
  transform: translateY(5px);
}

/* preserve the height of parent of floating elements */
.clearfix {
  clear: both;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.row img {
  width: 100%;
}
