footer {
  height: 2.5rem;
  background-color: #242424;
  text-align: center;
}

.footer-box {
  display: inline;
  margin: 0 1.25rem;
  letter-spacing: 2px;

  a {
    font-size: 70%;
    color: $color-white;
    text-transform: uppercase;
  }

  img {
    width: 1.87rem;
    transform: translateY(5px);
    transition: all 0.2s;

    &:hover {
      transform: translateY(4.5px) scale(1.1);
    }
  }
}
