footer {
  height: 4rem;
  background-color: #242424;
  text-align: center;
}

.footer-box {
  display: inline;
  margin: 0 2rem;

  a {
    font-size: 70%;
    color: $color-white;
    text-transform: uppercase;
  }

  img {
    width: 3rem;
    transform: translateY(0.5rem);
    transition: all 0.2s;

    &:hover {
      transform: translateY(0.45rem) scale(1.1);
    }
  }
}
