.row {
  /* assuming a container wrapper */
  max-width: 100%;
  margin: 1rem auto;

  &:last-child {
    margin-bottom: 0;
  }

  &::after {
    @include clearfix;
  }

  .col-1-of-3 {
    float: left;
    /* can mix units in calc function */
    width: calc((100% - 2rem) / 3);
    margin-right: 1rem;

    &:last-child {
      margin-right: 0;
    }
  }

  .col-2-of-3 {
    float: left;
    width: calc((2 * ((100% - 2rem) / 3)) + 1rem);
    margin-right: 1rem;

    &:last-child {
      margin-right: 0;
    }
  }
}
