.section-content {
  padding-top: 10%;

  p {
    min-height: 300px;
    width: 90%;
    margin: 0 auto;
    text-align: center;

    a {
      text-decoration: none;
      color: $secondary-color-light;
    }
  }
}

.images {
  img {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    transition: all 0.4s;
    margin: 2px 2px;
    backface-visibility: hidden;
    &:hover {
      transform: scale(1.05) translateY(-1px);
      box-shadow: 0 7.5 15px rgba(0, 0, 0, 0.3);
    }
  }
}
