.section-content {
  padding-top: 10%;

  p {
    min-height: 300px;
    width: 90%;
    margin: 0 auto;
    text-align: center;

    a {
      text-decoration: none;
      color: $secondary-color-light;
    }
  }
}

.images {
  .image {
    position: relative;
    backface-visibility: hidden;
    transition: all 0.5s;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    margin-bottom: 7px;

    img {
      width: 100%;
      height: 100%;
      vertical-align: top;
    }

    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-image: linear-gradient(rgba(0, 0, 0, 0.3), transparent 30%, transparent 70%, rgba(0, 0, 0, 0.3));
      transition: all 0.5s;
      opacity: 0;
    }
    &:hover {
      transform: scale(1.05);
      box-shadow: 0 7.5 15px rgba(0, 0, 0, 0.3);

      &:after {
        opacity: 1;
      }
    }
  }
}
