.section-content {
  padding-top: 10%;

  .initial-info {
    min-height: 23rem;
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }

  .no-more-images-mes {
    margin: 10px auto;
    text-align: center;
  }

  &__images-container {
    min-width: 400px;
  }
}

.image-thumbnails {
  width: 100%;
  height: 100%;
  display: block;
}

.image {
  position: relative;
  backface-visibility: hidden;
  transition: all 0.5s;
  box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
  margin-bottom: 0.7rem;
  // let img element be clickable
  visibility: hidden;

  * {
    visibility: visible;
  }

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0;
    left: 0;
    background-image: linear-gradient(
      rgba($color-black, 0.5),
      transparent 20%,
      transparent 70%,
      rgba($color-black, 0.8)
    );
    transition: all 0.5s;
    backface-visibility: hidden;
    opacity: 0;
  }
  &:hover {
    box-shadow: 0 0.75rem 1.5rem rgba($color-black, 0.3);

    &:after {
      opacity: 1;
    }

    .image-title {
      opacity: 1;
    }

    .image-license {
      opacity: 1;

      a {
        opacity: 0.7;
      }
    }
  }

  .image-title {
    transition: all 0.7s;
    backface-visibility: hidden;
    position: absolute;
    bottom: -2.5px;
    left: 0.5rem;
    color: $color-white;
    font-size: 1.3rem;
    font-weight: 700;
    width: 90%;
    opacity: 0;
    z-index: 3;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;

    .foreign-landing-url {
      text-decoration: none;
      color: $color-white;

      &:hover {
        text-decoration: underline;
      }

      .provider-image {
        vertical-align: middle;
        max-height: 3rem;
        max-width: 4rem;
        margin-right: 0.5rem;
        padding-bottom: 0.3rem;
      }
    }
  }

  .image-license {
    transition: all 0.6s;
    backface-visibility: hidden;
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    display: block;
    width: 100%;
    opacity: 0;
    z-index: 3;
    height: 2rem;

    a {
      display: block;
      height: inherit;

      &:hover {
        opacity: 1;
      }
      img {
        display: inline-block;
        height: inherit;
      }
    }
  }
}
// }

/* clearfix */
.grid:after {
  content: "";
  display: block;
  clear: both;
}

.grid-sizer,
.grid-item {
  float: left;
  margin-bottom: 10px;
  width: 32%;
  /* max-height: 300px; */
}

.gutter-sizer {
  width: 2%;
}
