.section-bookmarks {
  display: none;

  &--header {
    position: relative;

    .delete-bookmark-button {
      margin-left: 0.2rem;
    }

    .export-bookmarks-button {
      margin-right: 0.2rem;
      float: right;
    }
  }

  .bookmarks__initial-info {
    position: absolute;
    top: 7rem;
    left: 50%;
    transform: translateX(-50%);
  }
}

.bookmark-select {
  backface-visibility: hidden;
  position: absolute;
  top: 7px;
  right: 40px;
  color: #fff;
  font-size: 0.7937rem;
  font-weight: 700;
  width: 90%;
  opacity: 0;
  z-index: 5;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.select-checkbox {
  float: right;
  width: 1.2rem;
  height: 1.2rem;
}

.bookmark-checkbox {
  float: right;

  &:checked::before {
    opacity: 1;
  }
}
