.button-backToTop {
  display: inline-block;
  background-color: $color-gold;
  width: 33px;
  height: 33px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 70px;
  right: 20px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;

  &:hover {
    cursor: pointer;
    background-color: lighten($color: $color-gold, $amount: 10);
  }
  &.show {
    opacity: 1;
    visibility: visible;
  }

  .icon {
    font-size: $space-normal;
    line-height: 35px;
    color: $color-black;
  }
}
