.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height:70%;
}

.popup-header{
    background-image: linear-gradient(to right, #ff4e14, #ff7d31);
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}
.popup-text
{
  padding: 20px 20px 20px 100px;
}
.close
{
  position: relative;
  text-align: center;
  background-image: linear-gradient(to right, #ff4e14, #ff7d31);
  font-size: 24px;
  color: white;
  top:30px;
  left:110px;
  margin: 0px 2px;
  display: inline-block;
  text-decoration: none;
  border:1px solid #ee5b32;
  cursor: pointer;
  padding:4px;
}
.confirm_button
{
  position: relative;
  text-align: center;
  background-image: linear-gradient(to right, #ff4e14, #ff7d31);
  font-size: 24px;
  color: white;
  top:30px;
  left:230px;
  margin: 0px 2px;
  display: inline-block;
  text-decoration: none;
  border:1px solid #ee5b32; 
  cursor: pointer;
  padding:4px;
}
