// Dark mode settings

html.dark,
body.dark {
  color: $color-white;
  background-color: $color-dark-slate-gray;
  a,
  a:hover,
  a:active {
    color: $color-dark-turquoise;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-white;
  }

  .container {
    background-color: #000;
  }

  h4,
  h5 {
    color: $color-white;
  }

  .navbar {
    background-color: $color-dark-slate-gray;

    .navbar-brand a {
      color: #fff !important;
    }

    .navbar-end {
      a {
        color: $color-gray !important;

        &:hover {
          color: #fff !important;
        }

        &.active {
          color: #fff !important;
        }
      }

      i {
        color: #fff !important;
      }
    }
  }

  .button.is-primary,
  .load-more-button {
    background-color: $color-gold !important;
    color: $color-dark-slate-gray;

    &:hover,
    &:focus {
      background-color: lighten($color: $color-gold, $amount: 10) !important;
      color: $color-dark-slate-gray !important;
    }
  }

  .button {
    color: $color-dark-slate-gray;

    &:hover {
      color: $color-white;
    }
  }

  .button.is-success {
    color: $color-white;
  }

  .button.donate {
    &:hover {
      color: $color-black;
    }
  }

  input,
  .section-search {
    background-color: #000;
    color: $color-white !important;
  }

  input::placeholder {
    color: $color-gray !important;
  }

  .fixed-footer {
    background-color: $color-dark-slate-gray;
  }

  .section-collections table {
    & > thead {
      background-color: $color-dark-gray;

      th {
        color: $color-white;
      }
    }

    & > tr {
      color: $color-white;

      &:nth-child(even) {
        background: $color-black;
      }

      &:nth-child(odd) {
        background: $color-dark-slate-gray;
      }
    }
  }

  .section-image-detail {
    .image-detail__nav {
      #close-image-detail {
        color: $color-dark-turquoise;
      }

      ul {
        border-bottom-color: $color-dark-slate-gray;
      }

      .tab a {
        color: $color-gray;

        &:hover {
          color: $color-white;
          border-bottom-color: $color-white;
        }
      }

      .tab.is-active a {
        color: $color-white;
        border-bottom-color: $color-white;
      }
    }

    .reuse-panel {
      .tabs.is-boxed {
        ul {
          border-bottom: 2px solid $color-dark-gray;
          li {
            a {
              background-color: $color-black;
              color: $color-gray;
              border: 2px solid $color-dark-gray;
              border-right: 0;

              &:hover {
                background-color: $color-dark-slate-gray;
                color: $color-white;
                border-bottom-color: transparent;
              }
            }

            &:last-child a {
              border-right: 2px solid $color-dark-gray;
            }

            &.is-active a {
              background-color: $color-dark-slate-gray;
              color: $color-white;
              border-bottom-color: transparent;
            }
          }
        }
      }
      .tabs-content.is-boxed {
        background-color: $color-dark-slate-gray;
        border: 2px solid $color-dark-gray;
        border-top: 0;

        textarea#html-attribution {
          background-color: $color-dark-slate-gray;
          color: $color-white;
        }
      }
    }

    .related-images {
      background-color: $color-black;
    }

    i.license-logo {
      color: $color-white;
    }
  }

  .spinner > div {
    background-color: $color-white;
  }

  .notification__popup--body {
    color: rgb(34, 34, 34);
  }
}
