// Dark mode settings

html.dark,
body.dark {
  color: $color-white;
  background-color: $color-dark-slate-gray;
  a:hover {
    color: $color-tomato;
  }

  .container {
    background-color: #000;
  }

  h4,
  h5 {
    color: $color-white;
  }

  .navbar {
    background-color: $color-dark-slate-gray;

    .navbar-brand a {
      color: #fff !important;
    }

    .navbar-end {
      a {
        color: $color-gray !important;

        &:hover {
          color: #fff !important;
        }

        &.active {
          color: #fff !important;
        }
      }

      i {
        color: #fff !important;
      }
    }
  }

  .button.is-primary,
  .load-more-button {
    background-color: $color-gold !important;
    color: $color-dark-slate-gray;

    &:hover,
    &:focus {
      background-color: lighten($color: $color-gold, $amount: 10) !important;
      color: $color-dark-slate-gray !important;
    }
  }

  .button {
    color: $color-dark-slate-gray;

    &:hover {
      color: $color-white;
    }
  }

  .button.is-success {
    color: $color-white;
  }

  .button.donate {
    &:hover {
      color: $color-black;
    }
  }

  input,
  .section-search {
    background-color: #000;
    color: $color-white !important;
  }

  input::placeholder {
    color: $color-gray !important;
  }

  .section-bookmarks {
    a {
      color: $color-white;
    }
  }

  .fixed-footer {
    background-color: $color-dark-slate-gray;
  }

  .section-collections table {
    & > thead {
      background-color: $color-dark-slate-gray;

      th {
        color: $color-white;
      }
    }

    & > tr {
      background: $color-black;
      color: $color-white;
    }
  }

  .section-image-detail {
    .image-detail__nav {
      #close-image-detail {
        color: $color-white;
      }

      ul {
        border-bottom-color: $color-dark-slate-gray;
      }

      .tab a {
        color: $color-gray;

        &:hover {
          color: $color-white;
          border-bottom-color: $color-white;
        }
      }

      .tab.is-active a {
        color: $color-white;
        border-bottom-color: $color-white;
      }
    }

    .reuse-panel {
      .tabs.is-boxed {
        li a {
          background-color: $color-dark-slate-gray;
          color: $color-white;

          &:hover {
            background-color: $color-white;
            color: $color-black;
          }
        }

        li.is-active a {
          background-color: $color-white;
          color: $color-black;
        }
      }
      .tabs-content.is-boxed {
        background-color: $color-black;

        textarea {
          background-color: $color-black;
          color: $color-white;
        }
      }
    }

    .related-images {
      background-color: $color-black;
    }

    i.license-logo {
      color: $color-white;
    }
  }

  .spinner > div {
    background-color: $color-white;
  }

  .notification__popup--body {
    color: rgb(34, 34, 34);
  }
}
