.popup {
  height: 100vh;
  width: 100%;
  background: rgba($color-black, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  // display: none;
  opacity: 0;
  visibility: hidden;

  &__body {
    background-color: $color-white;
    width: 75%;
    height: 65%;
    position: absolute;
    border-radius: 9px;
    overflow-y: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__main {
    opacity: 0;
    visibility: hidden;
  }

  &__tab-content {
    padding: 1.25rem;

    label {
      display: block;
    }

    #attribution-rich-text {
      font-size: 0.875rem;
      font-weight: 500;
    }

    textarea {
      width: 100%;
      border: 1.2px solid $color-primary-light;
      outline: none;
    }

    .download-buttons {
      @include clearfix;

      .btn-download {
        background-color: $color-secondary-light;
        float: left;

        &:hover {
          background-color: $color-secondary-dark;
        }
      }
    }

    .info {
      &__content {
        font-size: 1rem;
      }
    }
  }

  .popup__header::after {
    @include clearfix;
  }

  &__close-button {
    position: absolute;
    cursor: pointer;
    color: $color-black;
    top: 0;
    right: 5px;
  }

  &__tab-links {
    text-decoration: none;
    width: 33.3333%;
    line-height: 2.5rem;
    float: left;
    display: block;
    font-size: $size-normal;
    // color: $color-black;
    background-color: $color-white;
    border: none;

    &-active {
      border-bottom: 2px solid $color-secondary-dark;
    }
  }
}

.share-icons {
  a {
    text-decoration: none;
  }

  .icon {
    margin-right: 10px;
    font-size: 55px;
  }
}

// .fa {
//   box-sizing: content-box;
//   padding: 20px;
//   margin-right: 10px;
//   font-size: 25px;
//   width: 24px;
//   text-align: center;
//   text-decoration: none;
//   border-radius: 50%;
//   color: $color-black;
// }

.removeLoadMore {
  display: none;
}
