.snackbar {
  visibility: hidden;
  min-width: 9rem;
  transform: translate(-50%);
  background-color: #333;
  color: $color-white;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  font-size: $size-normal;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 4rem;
}

.snackbar-positive {
  border-left: solid 10px $color-context-positive-dark;
}

.snackbar-negative {
  border-left: solid 10px $color-context-negative;
}

.show {
  visibility: visible !important;

  animation: fadein 0.2s;
  z-index: 105; // info-popup is 100
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 4rem;
    opacity: 1;
  }
}
