.section-bookmarks {
  &__head {
    display: flex;
    justify-content: space-between;
  }

  .bookmarks__initial-info {
    position: absolute;
    top: 5.5rem;
    left: 50%;
    transform: translateX(-50%);
  }
}
