header {
  width: 100%;
  background-image: linear-gradient(to right, #ff4e14, #ff7d31);
  position: relative;

  img {
    display: inline-block;
    padding: 5px 0;
    height: $size-gigantic;
    margin-left: 10%;
  }

  .header__icons {
    position: absolute;
    right: $size-big;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
}
