header {
  .navbar-end > a {
    color: $color-tomato !important;
  }

  .navbar-end > a:hover,
  .navbar-end > a.active {
    color: $color-dark-slate-gray !important;
  }

  .icon,
  .icon:hover {
    cursor: pointer;
    color: #000 !important;
  }
}
