.section-main {
  padding: 1.5rem 2rem;
  background-color: #f5f5f5;
}

.section-content {
  .initial-info {
    margin: 0 auto;
    text-align: center;
  }

  .no-image-found-mes {
    position: absolute;
    top: 13.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }

  &__images-container {
    min-width: 25rem;
  }

  &--bookmarks {
    padding-bottom: 4rem;
  }
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-sizer,
.grid-item {
  float: left;
  margin-bottom: 10px;
  width: 32%;
  /* max-height: 300px; */
}

.gutter-sizer {
  width: 2%;
}
