.section-content {
  
  .initial-info {
    min-height: 14.3rem;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding-top: 3rem;
  }

  .no-more-images-mes {
    margin: 10px auto;
    text-align: center;
  }

  &__images-container {
    min-width: 25rem;
  }
}

.image-thumbnails {
  width: 100%;
  height: 100%;
  display: block;
}

.image {
  position: relative;
  backface-visibility: hidden;
  box-shadow: 0 5px 10px rgba($color-black, 0.15);
  margin-bottom: 7px;

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0;
    left: 0;
    background-image: linear-gradient(
      rgba($color-black, 0.5),
      transparent 20%,
      transparent 70%,
      rgba($color-black, 0.8)
    );
    backface-visibility: hidden;
    opacity: 0;
  }

  &:hover {
    &:after {
      opacity: 1;
    }

    .image-title {
      opacity: 1;
    }

    .bookmark-select {
      opacity: 1;
    }

    .image-license {
      opacity: 1;

      a {
        opacity: 0.7;
      }
    }
  }

  .image-title {
    backface-visibility: hidden;
    position: absolute;
    bottom: -2.5px;
    left: 5px;
    color: $color-white;
    font-size: $size-small;
    font-weight: 700;
    width: 90%;
    opacity: 0;
    z-index: 3;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;

    .foreign-landing-url {
      text-decoration: none;
      color: $color-white;

      &:hover {
        text-decoration: underline;
      }

      .provider-image {
        vertical-align: middle;
        max-height: 1.875rem;
        max-width: 2.5rem;
        margin-right: 5px;
        padding-bottom: 3px;
      }
    }
  }

  .image-license {
    backface-visibility: hidden;
    position: absolute;
    top: 5px;
    left: 5px;
    display: block;
    width: 90%;
    opacity: 0;
    z-index: 3;
    height: 1.25rem;

    a {
      height: inherit;

      &:hover {
        opacity: 1;
      }
      img {
        display: inline-block;
        height: inherit;
      }
    }

    .bookmark-icon {
      padding: 0;
      margin: 0;
      right: 30px;
      position: absolute;
      color: $color-white;
      cursor: pointer;
    }
  }
}
// }

/* clearfix */
.grid:after {
  content: "";
  display: block;
  clear: both;
}

.grid-sizer,
.grid-item {
  float: left;
  margin-bottom: 10px;
  width: 32%;
  /* max-height: 300px; */
}

.gutter-sizer {
  width: 2%;
}
