.section-search {
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  position: relative;

  .icon.search {
    z-index: 2;
    color: $color-gray;
    position: absolute;
    left: 0.9rem;
  }

  input[type='text'] {
    width: 380px;
    margin-right: -0.5rem;
    padding-left: 2.3rem;
  }

  #filter-button {
    margin-left: auto;
  }

  .tooltip {
    position: relative;
    display: inline-block;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    position: absolute;
    width: 180px;
    background-color: #555;
    color: #fff;
    text-align: left;
    padding: 5px;
    border-radius: 6px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .tooltip-right {
    top: -5px;
    left: 125%;
  }

  .tooltip-right::after {
    content: '';
    position: absolute;
    top: 10%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #555 transparent transparent;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  .is-pulled-right {
    float: right !important;
  }

  .caption,
  .image .image-title {
    font-size: 0.8rem;
  }

  .margin-small {
    margin: 0.1rem !important;
  }
}

.section-filter {
  width: 100%;
  // visibility: hidden; //using this because display:none remove the elements from
  // the DOM itself, so filters were not applied till the users click the filter
  // icons and the elements were loaded to the DOM.
  // position: relative;

  &__head {
    display: flex;
    justify-content: space-between;
  }

  input[type='checkbox'] {
    margin-right: 5px;
  }

  label .icon {
    color: #000;
  }
}

.load-more-search-button,
.load-more-bookmark-button {
  &-wrapper {
    text-align: center;
  }
}
