.section-search {
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  position: relative;

  .icon.search {
    z-index: 2;
    color: $color-gray;
    position: absolute;
    left: 0.9rem;
  }

  input[type='text'] {
    width: 380px;
    margin-right: -0.5rem;
    padding-left: 2.3rem;
  }

  #filter-button {
    margin-left: auto;
  }
}

.section-filter {
  width: 100%;
  display: none;
  // visibility: hidden; //using this because display:none remove the elements from
  // the DOM itself, so filters were not applied till the users click the filter
  // icons and the elements were loaded to the DOM.
  // position: relative;

  &--active {
    display: block;
    // visibility: visible;
  }

  &__head {
    display: flex;
    justify-content: space-between;
  }

  input[type='checkbox'] {
    margin-right: 5px;
  }

  label .icon {
    color: #000;
  }

  &__footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 85px;
    background-color: #fff;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    button:last-child {
      margin: 0 $space-bigger 0 $space-big;
    }
  }
}

.load-more-search-button,
.load-more-bookmark-button {
  &-wrapper {
    text-align: center;
  }
}
