.section-search {
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  position: relative;

  .icon.search {
    z-index: 2;
    color: $color-gray;
    position: absolute;
    left: 0.9rem;
  }

  input[type='text'] {
    width: 380px;
    margin-right: -0.5rem;
    padding-left: 2.3rem;
  }

  #filter-button {
    margin-left: auto;
  }
}

.section-filter {
  width: 100%;
  // visibility: hidden; //using this because display:none remove the elements from
  // the DOM itself, so filters were not applied till the users click the filter
  // icons and the elements were loaded to the DOM.
  // position: relative;

  &__head {
    display: flex;
    justify-content: space-between;
  }

  input[type='checkbox'] {
    margin-right: 5px;
  }

  .license-checkbox-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;

    .tooltip-wrapper {
      margin-left: auto;

      .tooltip {
        position: absolute;
        top: 0;
        right: 1.4rem;
        opacity: 0;
        visibility: hidden;
        background-color: $color-white;
        border: 2px solid $color-light-gray;
        z-index: 400;
        width: 20rem;
        box-shadow: 0.7rem 0.7rem 0.7rem -0.7rem rgba(0, 0, 0, 0.25);
        color: $color-dark-slate-gray;
        text-align: left;
        transition: opacity 0.3s;

        &-active {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }

  label .icon {
    color: $color-black;
  }
}

.load-more-search-button,
.load-more-bookmark-button {
  &-wrapper {
    text-align: center;
  }
}
