.container {
  width: 90%;
  margin: 0 auto;
}

.section-search {
  margin: 1.5rem 0;
  display: flex;

  input[type='text'] {
    width: 370px;
  }

  #filter-button {
    margin-left: auto;
  }
}

.section-filter {
  width: 100%;
  height: 0rem;
  // display: none;
  opacity: 0;
  visibility: hidden; //using this because display:none remove the elements from
  // the DOM itself, so filters were not applied till the users click the filter
  // icons and the elements were loaded to the DOM.
  position: relative;

  &--active {
    height: auto;
    display: block;
    visibility: visible;
    opacity: 1;
    align-items: center;
    margin-top: 0.7rem;
  }

  &__source-loading-mes {
    font-size: $size-normal;
    color: $color-black;
    padding-top: 6px;
  }

  &__filter-wrapper {
    display: grid;

    grid-template-rows: 2rem 2rem;
    grid-template-columns: 2fr 1.5fr 2fr;
    column-gap: 1rem;
  }

  &__filter-button {
    display: flex;
    justify-content: center;

    &--reset-filter-container {
      display: inline-block;
      margin: 0.7rem 1rem 0rem;
    }

    &--apply-filter-container {
      display: inline-block;
      margin: 0.7rem 1rem 0rem;
    }
  }
}

.load-more-search-button,
.load-more-bookmark-button {
  &-wrapper {
    text-align: center;
  }
}
