.tooltip {
  position: relative;
  display: inline-block;
  
}

.tooltip .tooltiptext {
    visibility: hidden;
    position: absolute;
    width: 180px;
    background-color: #555;
    color: #fff;
    text-align: left;
    padding: 5px;
    border-radius: 6px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
}
.tooltip-right {
    top: -5px;
    left: 125%;
}

.tooltip-right::after {
    content: "";
    position: absolute;
    top: 10%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #555 transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.is-pulled-right {
    float: right!important;
}
.caption, .image .image-title {
    font-size: .8rem;
}
.margin-small {
    margin: .10rem!important;
}
    
