.tooltip {
  position: relative;
  display: inline-block;
}

.tooltiptext {
  visibility: hidden;
  position: absolute;
  width: 180px;
  background-color: #fff;
  border: 2px solid #d8d8d8;
  z-index: 400;
  width: 20rem;
  box-shadow: 10px 10px 10px -10px rgba(0, 0, 0, 0.25);
  color: #333;
  text-align: left;
  padding: 5px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-right {
  top: -5px;
  right: 125%;
}

.tooltip-right::after {
  content: '';
  position: absolute;
  top: 10%;
  right: 100%;
  margin-top: -5px;
  border-width: 13px;
  border-style: solid;
  border-color: transparent #d8d8d8 transparent transparent;
}

.display-fix {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.caption,
.image .image-title {
  font-size: 0.8rem;
}
