$color-primary-dark: #ff4e14;
$color-primary-light: #ff7d31;

$color-secondary-dark: #0ab8fd;
$color-secondary-light: #3fc7fd;

$color-white: #fff;
$color-black: #000;

$spinner-margin: 8rem auto 10rem auto;
$spinner-size: 7rem;
$spinner-color: $color-primary-dark;
