$primary-color-dark: #ff4e14;
$primary-color-light: #ff7d31;

$secondary-color-dark: #0ab8fd;
$secondary-color-light: #3fc7fd;

$color-white: #fff;
$color-black: #000;

$spinner-margin: 20px auto;
$spinner-size: 70px;
$spinner-color: $primary-color-dark;
