$primary-color-dark: #ff4e14;
$primary-color-light: #ff7d31;

$secondary-color-dark: #0ab8fd;
$secondary-color-light: #3fc7fd;

$color-white: #fff;

/* Variables */
/* :root {
  --primary-color-dark: #ff4e14;
  --primary-color-light: #ff7d31;

  --secondary-color-dark: #0ab8fd;
  --secondary-color-light: #3fc7fd;

  --color-white: #fff;
} */
