#home-icon {
  display: none;
}

.section-bookmarks {
  display: none;

  &--header {
    position: relative;

    h2 {
      font-size: 2.5rem;
      font-weight: 500;
      text-align: center;
    }

    .delete-all-button {
      position: absolute;
      left: 10px;
      top: 1.25rem;
      background-color: $color-white;
      color: $color-black;
      padding: 5px;
      border: 1px solid $color-black;
      cursor: pointer;
    }
  }
}
