.popup {
  height: 100vh;
  width: 100%;
  background: rgba($color-black, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  // display: none;
  opacity: 0;
  visibility: hidden;

  &__body {
    background-color: $color-white;
    width: 75%;
    height: 65%;
    position: absolute;
    border-radius: 9px;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__tab-content {
    padding: 2rem;

    label {
      display: block;
    }

    .attribution-label {
      text-decoration: none;
      font-weight: 700;
      font-size: 1.6rem;
    }

    #attribution-rich-text {
      font-size: 1.4rem;
      font-weight: 500;
    }

    textarea {
      width: 100%;
      border: 1.2px solid $color-primary-light;
      outline: none;
    }

    .btn-popup {
      display: block;
      padding: 0.9rem 2rem;
      box-sizing: content-box;
      position: relative;
      text-decoration: none;
      background-color: lighten($color-black, 30);
      color: $color-white;
      border: none;
      border-radius: 5px;
      transition: background-color 0.3s;
      cursor: pointer;

      &:hover {
        background-color: lighten($color-black, 25);
      }
    }

    .btn-copy {
      width: 4rem;
    }

    .download-buttons {
      @include clearfix;

      .btn-download {
        background-color: $color-secondary-light;
        float: left;
        margin-right: 1rem;

        &:hover {
          background-color: $color-secondary-dark;
        }
      }
    }

    .info {
      &__label {
        display: block;
        font-size: 1.9rem;
        font-weight: 700;
      }

      &__content {
        font-size: 1.5rem;
        font-weight: 500;
      }
    }
  }

  .popup__header::after {
    @include clearfix;
  }

  &__close-button {
    position: absolute;
    cursor: pointer;
    color: lighten($color-black, 30);
    top: 0;
    right: 0.5rem;

    &:hover {
      color: $color-black;
    }
  }

  &__tab-links {
    text-decoration: none;
    width: 33.3333%;
    line-height: 4rem;
    float: left;
    display: block;
    font-size: 1.7rem;
    // color: $color-black;
    background-color: $color-white;
    border: none;

    &-active {
      border-bottom: 2px solid $color-secondary-dark;
    }
  }
}

// share buttons
.fa {
  box-sizing: content-box;
  padding: 20px;
  margin-right: 10px;
  font-size: 25px;
  width: 24px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}
