.snackbar {
  visibility: hidden;
  min-width: 15rem;
  transform: translate(-50%);
  background-color: #333;
  color: $color-white;
  text-align: center;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 1.6rem;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 5rem;
}

.snackbar-positive {
  border-left: solid 10px $color-context-positive-dark;
}

.snackbar-negative {
  border-left: solid 10px $color-context-negative;
}

.show {
  visibility: visible !important;

  animation: fadein 0.2s;
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 5rem;
    opacity: 1;
  }
}
