.center-align {
  text-align: center;
}
.left-align {
  text-align: left;
}
.right-align {
  text-align: right;
}
.bg-color-orange {
  background: rgb(237, 89, 47) !important;
}
.browser-info {
  text-transform: capitalize;
}

.responsive-img {
  height: auto;
  width: 100%;
  max-width: 500px;
  min-width: 150px;
}
.extension-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-items: start;
  background: rgb(245, 245, 245);
}
.extension-grid > div {
  padding: 2em;
  margin: 0.5em;
}
.feature-grid {
  padding-left: 2em;
  padding-right: 2em;
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  justify-items: end;
}
.feature-grid > div {
  padding: 2em;
  margin: 0.5em;
}

hr {
  width: 50%;
  margin: auto;
}

.feature-table {
  margin: auto;
}
@media all and (max-width: 600px) {
  .logo {
    margin-left: 3em !important;
  }
  .extension-grid {
    padding-left: 0em !important;
    padding-right: 0em !important;
  }
  .extension-grid > div {
    padding: 1em !important;
  }
  .responsive-img {
    height: auto;
    width: 100%;
    max-width: 260px;
    min-width: 150px;
  }
  .feature-content {
    padding-left: 0em !important;
    padding-right: 0em !important;
  }
  .feature-grid {
    padding-left: 0em !important;
    padding-right: 0em !important;
  }
  .feature-grid > div {
    padding: 0em !important;
    margin: 0.2em !important;
  }
  .feature-heading {
    font-size: 3.2em;
    padding-left: 0.2em !important;
  }
  .extension-intro {
    text-align: left;
    padding-left: 0.2em !important;
  }
  .extension-detail {
    width: 60%;
    text-align: justify !important;
    padding-left: 1em !important;
  }
  .download-extension {
    width: 90%;
  }
  .extension-summary {
    width: 78%;
  }
}
