.bg-color-orange {
  background: rgb(237, 89, 47) !important;
}
.browser-info {
  text-transform: capitalize;
}
.feature-content {
  padding-left: 6em !important;
  padding-right: 6em !important;
}
.feature-heading {
  padding-left: 2em;
}
.navbar {
  padding-bottom: 15px;
  padding-top: 20px;
}
.navbar-brand {
  display: block;
}

.responsive-img {
  height: auto;
  width: 100%;
  max-width: 500px;
  min-width: 150px;
}
.grid {
  padding-left: 4em;
  padding-right: 4em;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-items: start;
}
.grid > div {
  padding: 2em;
  margin: 0.5em;
}
.grid2 {
  padding-left: 4em;
  padding-right: 4em;
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  justify-items: end;
}
.grid2 > div {
  padding: 2em;
  margin: 0.5em;
}

.button {
  font-size: large;
}

hr {
  width: 50%;
  margin: auto;
}

table {
  margin: auto;
}
.table {
  padding-left: 4em;
  padding-right: 4em;
}
.slide-in-right {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
.slide-in-left {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
